
<div class="goals"> 
<h2>Life Goals</h2>
 <ul class="media-list">
 	 <li class="media">
 		<h3 class="media-heading">Go slow. Be intentional. Make plans.</h3>
 	</li>
 	<li class="media">
 		<h3 class="media-heading"><a href="http://6thfloor.blogs.nytimes.com/2013/07/31/george-saunderss-advice-to-graduates/?_php=true&_type=blogs&_r=0">Be kinder.</a>  Do unto others.</p>
 	</li>
 	<li class="media">
 		<h3 class="media-heading">Marry imagination with logic, creativity with analysis.</h3>
 	</li>
 	<li class="media">
 		<h3 class="media-heading">Raise children to be creative, engaged, and resilient.</h3>
 	</li>
 	<li class="media">
 		<h3 class="media-heading">Be unafraid. Continually push outside comfort zone.</h3>
 	</li>
 	<li class="media">
 		<h3 class="media-heading">Get involved with life.</h3>
 	</li>
 </ul>
</div>