/* app css stylesheet */
.verticalCenter {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.verticalBorder {
  border-top: 2px solid #674e4d;
  border-bottom: 2px solid #674e4d;
}
.horizontalBorder {
  border-left: 2px solid #674e4d;
  border-right: 2px solid #674e4d;
}
body,
body a {
  font-family: 'Lobster';
  color: #674e4d;
}
h2,
h2 a,
.h2,
.h2 a {
  color: #ebb123;
  padding: 10px;
}
h1 {
  font-family: 'Galindo';
  font-size: 80em;
  color: #c15420;
  padding: 10px;
}
img {
  border: 1px solid #674e4d;
  margin: 5px;
}
.active a {
  background-color: #674e4d !important;
}
.nav-pills li a {
  border-radius: 0px!important;
  color: #674e4d;
}
.nav {
  background-color: white;
  border-top: 2px solid #674e4d;
  border-bottom: 2px solid #674e4d;
}
h2 a:hover {
  color: #c15420;
  text-decoration: none;
}
p,
a {
  color: #674e4d;
  font-family: 'Lobster';
}
#sun {
  z-index: -1;
  position: fixed;
  top: 0;
  left: 0;
  border: 2px solid #674e4d;
}
.wrap {
  overflow: hidden;
  margin-top: 50px;
  padding-bottom: 50px;
  border-top: 2px solid #674e4d;
  border-bottom: 2px solid #674e4d;
  background: #eeeeee;
}
.main {
  margin-top: 50px;
  border: 1px solid #e1e1e1;
  background: white;
  padding: 0px!important;
}
.view-animate-container {
  height: 350px;
  position: relative;
  overflow: hidden;
  padding: 0px!important;
  border-bottom: 1px solid #674e4d;
}
.view-animate {
  padding: 10px!important;
}
.view-animate.ng-enter,
.view-animate.ng-leave {
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  display: block;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 10px;
}
.view-animate.ng-enter {
  left: 100%;
}
.view-animate.ng-enter.ng-enter-active {
  left: 0;
}
.view-animate.ng-leave.ng-leave-active {
  left: -100%;
}
.footer {
  border-top: 2px solid #674e4d;
}
.menu {
  list-style: none;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}
.menu:before {
  content: "[";
}
.menu:after {
  content: "]";
}
.menu > li {
  display: inline;
}
.menu > li:before {
  content: "|";
  padding-right: 0.3em;
}
.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}
